<!DOCTYPE html>
<html>
<head>
  <title>Wikilink</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://use.typekit.net/vnx2grk.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>
</head>
<body>
  
<div class="header">
  <h3 class="header-title">WikiLink</h1>
  <%= link_to "Index", searches_path, class: "header-link header-link-index" %>
  <p class="header-link header-link-divider">|</p>
  <%= link_to "New Search", new_search_path, class: "header-link header-link-new-search" %>
</div>

<div class="body-container">
  <%= yield %>
</div>

</body>
</html>
